.section {
    overflow: hidden;

    background-color: var(--main-bg-color);
}

.inner {
    background-image: url(../../assets/images/invite-friend-bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    height: 590px;
}

.info {
    align-self: center;
    width: 500px;
}

.title {
    position: relative;

    max-width: 300px;
    padding-bottom: 15px;

    font-weight: 800;
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    letter-spacing: normal;
    text-transform: uppercase;
    text-decoration: none solid rgb(48, 48, 48);
}

.title::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 3px;

    background-color: var(--primary-color);

    content: "";
}

.text {
    padding-top: 40px;
}

.text p {
    width: 400px;
    padding-bottom: 3px;

    font-size: 18px;
}

.text span {
    color: var(--accent-color);
}

@media screen and (max-width: 1600px) {
    .inner {
        background-position: left calc(50vw - 20%) top;
    }
}

@media screen and (max-width: 1200px) {
    .inner {
        background-position: left calc(60vw - 40%) top;
    }
    .wrapper {
        height: 480px;
    }
}

@media screen and (max-width: 960px) {
    .inner {
        background-position: left calc(50vw - 40%) top;
    }
    .info {
        position: relative;
        z-index: 15;

        width: 400px;
    }

    .text p {
        width: 300px;
        padding-bottom: 3px;

        font-size: 16px;
        line-height: 21px;
    }
}

@media screen and (max-width: 760px) {
    .inner {
        background-position: left 30vw top;
        background-size: cover;
    }
}

@media screen and (max-width: 640px) {
    .inner {
        height: 540px;
        padding-bottom: 20px;
        overflow: hidden;

        background-position: center top -10%;
        background-size: 500px;
    }

    .wrapper {
        align-items: center;
    }

    .info {
        align-self: flex-end;
        margin-bottom: 0px;
    }

    .text {
        padding-top: 15px;
    }

    .text p {
        padding: 0;

        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-width: 480px) {
    .inner {
        height: 490px;
        padding-bottom: 20px;
        overflow: hidden;

        background-position: center top -10%;
        background-size: 430px;
    }
    .info {
        margin-bottom: 50px;

        text-align: center;
    }
    .title {
        width: 200px;
        margin: 0 auto;
    }

    .title::after {
        left: 50%;

        height: 2px;

        transform: translateX(-50%);
    }

    .text {
        padding-top: 20px;
    }
}
