.section {
    padding-top: 30px;
    padding-bottom: 70px;
    overflow: hidden;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    min-height: 430px;
}
.info {
    align-self: flex-end;
    margin-right: 50px;
}

.text {
    width: 500px;

    font-size: 18px;
}

.title {
    position: relative;
    bottom: -70px;

    max-width: 500px;
    margin-bottom: 30px;
    padding-top: 70px;
    padding-bottom: 15px;

    font-weight: 800;
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    letter-spacing: normal;
    text-transform: uppercase;
    text-decoration: none solid rgb(48, 48, 48);
}

.title::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 3px;

    background-color: var(--primary-color);

    content: "";
}

.cities {
    margin: 0;
    padding: 0;
}

.cities_item {
    position: relative;

    margin-top: 2px;
    padding-left: 18px;

    font-size: 18px;
}

.cities_item::before {
    position: absolute;
    bottom: 6px;
    left: 0;

    width: 8px;
    height: 8px;

    background-color: var(--font-color);

    content: "";
}

.text_bottom {
    padding: 30px 0;
}

.callToAction_btn {
    padding: 0;

    color: var(--primary-color);
    font-weight: 700;
    font-size: 18px;
    text-decoration: solid underline currentColor 1px;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.imageInner {
    position: relative;

    width: 500px;
}

.imageWrapper {
    position: relative;
    left: 0px;
}

img.image {
    position: relative;
    z-index: 10;

    width: auto;
    height: auto;
    object-fit: contain;
}

@media screen and (max-width: 1200px) {
    .section {
        padding-top: 0px;
        padding-bottom: 70px;
        overflow: hidden;
    }

    .text {
        width: 380px;

        font-size: 16px;
        line-height: 21px;
    }

    .title {
        width: 400px;
    }

    .cities_item {
        position: relative;

        margin-top: 0px;
        padding-left: 14px;

        font-size: 16px;
    }

    .cities_item::before {
        bottom: 4px;
    }

    .text_bottom {
        padding: 20px 0;
    }

    .callToAction_btn {
        font-weight: 700;
        font-size: 16px;
    }

    .image {
        left: -25px;

        width: 600px;
    }
}

@media screen and (max-width: 960px) {
    .wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: left;
    }

    .title {
        margin-bottom: 40px;
    }

    .wrapper {
        align-items: flex-start;
    }

    .text {
        width: 620px;
    }

    .info {
        align-self: start;
        margin: 0;
    }

    .image {
        left: 0;

        max-width: 620px;
    }
}

@media screen and (max-width: 640px) {
    .section {
        padding-bottom: 40px;
    }
    .title {
        top: 35px;

        width: 320px;
        padding-bottom: 10px;
    }

    .text {
        width: 460px;

        font-size: 14px;
        line-height: 18px;
    }

    .cities_item {
        padding-left: 14px;

        font-size: 14px;
    }
    .cities_item::before {
        bottom: 4px;

        width: 7px;
        height: 7px;
    }

    .text_bottom {
        padding: 20px 0;
    }
    .callToAction_btn {
        font-size: 14px;
    }

    .image,
    .imageInner {
        left: 0;

        max-width: 460px;
    }

    .image {
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .title {
        top: 35px;

        width: 320px;
        padding-bottom: 10px;
    }

    .title::after {
        left: 50%;

        height: 2px;

        transform: translateX(-50%);
    }

    .text {
        width: 320px;

        font-size: 14px;
        line-height: 18px;
    }

    .cities_item {
        padding-left: 14px;

        font-size: 14px;
    }
    .cities_item::before {
        bottom: 4px;

        width: 7px;
        height: 7px;
    }

    .text_bottom {
        padding: 20px 0;
    }
    .callToAction_btn {
        font-size: 14px;
    }

    .image,
    .imageInner {
        left: 0;

        max-width: 320px;
    }

    .image {
        height: auto;
    }
}
