.container {
  display: flex;
  margin: 0 auto;
  margin-top: 70px;
  top: 0;
  position: relative;
  left: auto;
  right: auto;
  height: max-content;
  z-index: 1;
  cursor: default;
  background-color: #fff;
}
.wrapper {
  display: flex;
  padding: 70px 45px 40px;
  width: auto;
}

.content {
  max-width: 40vw;
}

.title {
  margin-bottom: 20px;
  color: #000;
}
.title_text {
  font-size: 32px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
}

.title_attrubutes {
  display: block;
}

.paragraph {
  font-size: 14px;
  text-align: left;
  line-height: 1.55;
  font-weight: 400;
}

.agreement {
  font-style: italic;
  font-size: 14px;
  line-height: 1.45;
}

@media screen and (max-width: 1600px) {
  .content {
    max-width: 60vw;
  }
}

@media screen and (max-width: 1200px) {
  .title_text {
    font-size: 30px;
  }
}

@media screen and (max-width: 640px) {
  .title_text {
    font-size: 26px;
  }
}

@media screen and (max-width: 560px) {
  .wrapper {
    /* width: 100%; */
    height: auto;
  }

  .content {
    max-width: 80vw;
    height: 100%;
    background-color: #fff;
  }
}
