.section {
    height: 170px;

    color: #fff;

    background-color: var(--primary-color);
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    padding: 35px 110px 35px 0;

    column-gap: 15px;
}

.logos,
.contacts,
.terms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tel {
    position: relative;

    display: flex;
    flex-direction: column;
    min-width: 145px;
    padding-left: 30px;
}

.tel::before {
    position: absolute;
    top: 50%;
    left: 0;

    width: 20px;
    height: 20px;

    background-image: url(../../assets/icons/telephone.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50%);

    content: "";
}

.email_link {
    position: relative;

    padding-left: 30px;
}

.email_link::before {
    position: absolute;
    top: 50%;
    left: 0;

    width: 20px;
    height: 20px;

    background-image: url("../../assets/icons/mail.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50%);

    content: "";
}
.privacy_btn {
    padding: 0;

    text-align: left;

    background-color: transparent;
    border: none;
}

.tel_item,
.email_link,
.privacy_btn,
.copy {
    color: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
}

.email_link,
.privacy_btn,
.tel_item {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        padding-right: 160px;
    }

    .tel::before {
        top: 12px;
    }

    .logo_lorry {
        position: relative;
        top: -18px;
    }
}

@media screen and (max-width: 960px) {
    .section {
        height: 230px;
    }
    .wrapper {
        flex-direction: column;
        row-gap: 15px;

        padding-right: 60px;
    }

    .logos,
    .contacts,
    .terms {
        flex-direction: row;
        justify-content: space-between;
        row-gap: 10px;
    }

    .logo_lorry,
    .logo_gt,
    .tel,
    .email,
    .privacy,
    .copy {
        width: 210px;
    }

    .logo_lorry {
        top: -8px;
    }

    .tel::before {
        top: 50%;

        transform: translateY(-50%);
    }
}

@media screen and (max-width: 640px) {
    .section {
        height: 240px;
    }
    .wrapper {
        padding-right: 0px;
    }
}

@media screen and (max-width: 492px) {
    .section,
    .container {
        height: 340px;

        text-align: center;
    }

    .wrapper {
        align-items: center;
    }

    .logos,
    .contacts,
    .terms {
        flex-direction: column;
        align-items: center;
    }

    .logo_lorry,
    .logo_gt,
    .tel,
    .email,
    .privacy,
    .copy {
        width: auto;
    }

    .tel_item {
        align-self: center;
    }

    .tel::before {
        top: 0;
        left: 18px;

        transform: translate(0);
    }
}
