.section {
  background-color: var(--main-bg-color);
}

.inner {
  max-width: 1700px;
  background-image: url(../public/assets/images/main-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 700px;
  padding-bottom: 95px;
  margin: 0 auto;
}

.image_wrapper,
.image {
  display: none;
}

.container {
  max-width: var(--container-width);
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}

.title {
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 800;
  line-height: 56px;
  color: var(--primary-color);
  max-width: 840px;
  margin-bottom: 20px;
}

.title span {
  color: var(--accent-color);
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  color: var(--accent-color);
  max-width: 450px;
  margin-bottom: 30px;
}

.description {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  max-width: 580px;
}

@media (max-width: 1600px) {
  .inner {
    background-position: 580px;
  }
}

@media (max-width: 1400px) {
  .inner {
    background-position: 480px;
  }
}

@media (max-width: 1200px) {
  .inner {
    background-position: 340px;
  }

  .title {
    font-size: 40px;
    line-height: 40px;
    max-width: 570px;
  }

  .subtitle,
  .description {
    font-size: 16px;
    line-height: 21px;
    max-width: 450px;
  }
}

@media (max-width: 1080px) {
  .inner {
    background-position: 320px;
  }
}

@media (max-width: 1060px) {
  .inner {
    background-position: 280px;
  }
}

@media (max-width: 960px) {
  .inner {
    background-position: 240px top;
    padding-bottom: 155px;
    background-size: 120%;
  }

  .title {
    font-size: 36px;
    line-height: 36px;
    max-width: 470px;
  }

  .subtitle,
  .description {
    font-size: 16px;
    line-height: 21px;
    max-width: 380px;
  }
}

@media (max-width: 940px) {
  .inner {
    background-size: 134%;
    background-position: 218px top;
  }
}

@media (max-width: 830px) {
  .inner {
    background-size: 146%;
    background-position: 180px top;
  }
}

@media (max-width: 780px) {
  .inner {
    background-size: 159%;
    background-position: 121px top;
  }
}

@media (max-width: 715px) {
  .inner {
    background-size: 165%;
    background-position: 100px top;
  }
}

@media (max-width: 690px) {
  .inner {
    background-size: 174%;
    background-position: 110px top;
  }
}

@media (max-width: 670px) {
  .inner {
    background-size: 190%;
    background-position: 75px top;
  }
}

@media (max-width: 641px) {
  .inner {
    background-size: 192%;
    background-position: 65px top;
  }
}

@media (max-width: 640px) {
  div.inner {
    background-image: none;
    padding-bottom: 0;
  }

  .image_wrapper {
    height: 100%;
    display: block;
    bottom: -2px;
  }

  img.image {
    display: block;
    object-fit: contain;
    position: relative !important;
    object-position: bottom;
  }

  .title {
    font-size: 32px;
    line-height: 32px;
    max-width: 100%;
  }

  .subtitle,
  .description {
    font-size: 16px;
    line-height: 21px;
    max-width: 100%;
  }

  .subtitle {
    margin-bottom: 20px;
  }

  .description {
    padding-left: 20px;
    padding-bottom: 15px;
  }
}

/* @media (max-width: 480px) {
  .container {
    text-align: center;
  }

  .title {
    font-size: 30px;
    line-height: 30px;
  }

  .subtitle,
  .description {
    font-size: 14px;
    line-height: 18px;
  }

  .image {
    width: 100%;
  }
} */
