/* .section {
  background-color: var(--main-bg-color);
  display: flex;
  position: relative;
  background-image: url(../public/assets/images/invite-friend-bg.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center right;
} */

.section {
  overflow: hidden;
  background-color: var(--main-bg-color);
}

.container {
  max-width: var(--container-width);
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: left;
}

.info {
  align-self: center;
  width: 500px;
}

.imageInner {
  position: relative;
}

.imageWrapper {
  position: relative;
  left: 50%;
}

img.image {
  position: relative;
  object-fit: contain;
  z-index: 10;
}

.title {
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  font-weight: 800;
  text-decoration: none solid rgb(48, 48, 48);
  letter-spacing: normal;
  position: relative;
  padding-bottom: 15px;
  max-width: 300px;
  text-transform: uppercase;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100px;
  background-color: var(--primary-color);
}

.text {
  padding-top: 40px;
}

.text p {
  font-size: 18px;
  width: 400px;
  padding-bottom: 3px;
}

.text span {
  color: var(--accent-color);
}

@media screen and (max-width: 1900px) {
  .imageWrapper {
    left: 30%;
  }
}

@media screen and (max-width: 1500px) {
  .imageWrapper {
    left: 15%;
  }
}

@media screen and (max-width: 1200px) {
  .image {
    height: 480px;
    width: 736px;
  }
}

@media screen and (max-width: 1100px) {
  .imageWrapper {
    left: 5%;
  }
}

@media screen and (max-width: 1000px) {
  .imageWrapper {
    left: 0;
  }
}

@media screen and (max-width: 960px) {
  .imageWrapper {
    left: -10%;
  }
  .info {
    width: 300px;
    position: relative;
    z-index: 15;
  }

  .text p {
    font-size: 16px;
    line-height: 21px;
    width: 300px;
    padding-bottom: 3px;
  }
}

@media screen and (max-width: 760px) {
  .imageWrapper {
    left: -15%;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .info {
    align-self: flex-start;
    margin-bottom: 70px;
  }
  .imageWrapper {
    left: 0;
    max-width: 500px;
  }

  .imageInner {
    top: -30px;
  }
  .image {
    height: auto;
    width: 500px;
  }

  .text {
    padding-top: 15px;
  }

  .text p {
    font-size: 14px;
    line-height: 18px;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .info {
    text-align: center;
    margin-bottom: 50px;
  }
  .title {
    width: 200px;
    margin: 0 auto;
  }

  .title::after {
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
  }

  .text {
    padding-top: 20px;
  }
}
