.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10000;
  outline: 0;
  display: flex;
  box-sizing: border-box;
}

.close_btn button {
  position: fixed;
  right: 60px;
  top: 40px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #ffffffb4;
  font-size: 36px;
}

@media screen and (max-width: 560px) {
  div.modal {
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
    border: 2px solid red;
    display: block;
  }
}
