.container {
  display: flex;
  margin: 0 auto;
  margin-top: 70px;
  top: 0;
  position: relative;
  left: auto;
  right: auto;
  height: max-content;
  z-index: 1;
  cursor: default;
  background-color: #fff;
  border-radius: 15px;
}

.wrapper {
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  max-width: 300px;
}

.text {
  text-align: center;
}

.icon_wrapper {
  display: block;
  margin-bottom: 20px;
}

.close_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  border: none;
  background: transparent;
}
